* {
    margin: 0px;
}

button {
    cursor: pointer;
    background-color: lightgreen;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.button-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
}
.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgreen;
    font-weight: bold;
    border: solid;
}